In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
materials = pd.read_csv('/home/celinaha/ml_group21/data/extended/materials.csv')

In [4]:
(materials.select_dtypes(include=['number'])<0).any()

rm_id                       False
product_id                  False
product_version             False
raw_material_format_type    False
dtype: bool

In [17]:
materials.head()

,rm_id,product_id,product_version,raw_material_alloy,raw_material_format_type,stock_location
0,NaN,NaN,NaN,NaN,NaN,NaN
1,342.0,91900170.0,1.0,SB06 Traders,24.0,DELETED_28.02:2011_SB06 anodiz
2,343.0,91900143.0,2.0,SB02 606035,24.0,SB 02
3,345.0,91900143.0,2.0,SA10 606035,3.0,DELETED_28.02:2011_ST01
4,346.0,91900146.0,2.0,SA15 600540,3.0,DELETED_28.02:2011_SA 300370

General info:

In [5]:
materials.shape

(1218, 6)

In [6]:
materials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rm_id                     1217 non-null   float64
 1   product_id                1217 non-null   float64
 2   product_version           1217 non-null   float64
 3   raw_material_alloy        1217 non-null   object
 4   raw_material_format_type  1217 non-null   float64
 5   stock_location            1217 non-null   object
dtypes: float64(4), object(2)
memory usage: 57.2+ KB

In [7]:
materials.nunique()

rm_id                       203
product_id                   54
product_version              65
raw_material_alloy          180
raw_material_format_type     25
stock_location              153
dtype: int64

In [9]:
# missing values
materials.isna().sum()

rm_id                       1
product_id                  1
product_version             1
raw_material_alloy          1
raw_material_format_type    1
stock_location              1
dtype: int64

In [10]:
materials.isna().sum()/materials.shape[0]*100

rm_id                       0.082102
product_id                  0.082102
product_version             0.082102
raw_material_alloy          0.082102
raw_material_format_type    0.082102
stock_location              0.082102
dtype: float64

In [15]:
materials.duplicated().sum()

np.int64(0)

In [16]:
# identifying garbage values
for i in materials.select_dtypes(include="object").columns:
    print(materials[i].value_counts())
    print("***"*10)

raw_material_alloy
CPS Prof 6060                  55
CPS Prof 6060 Thermal Break    49
PM 99,7                        46
CPS Prof 6005                  45
CPS Prof 6060 Lacado           43
                               ..
Cacharro                        1
Shredded 0% PC                  1
CPS 6005 (anodizado)            1
CPS 6082 (anodizado)            1
CPS 6082 (lacado)               1
Name: count, Length: 180, dtype: int64
******************************
stock_location
SB 16                         43
SB 18                         37
SB 17                         33
SB 09                         33
SB 20                         33
                              ..
Cable Lavadero                 1
Aerosol Lavadero               1
SA 01 A                        1
SB 08 A                        1
DELETED_12.05:2025_SB 16 B     1
Name: count, Length: 153, dtype: int64
******************************

Changing datatypes

In [21]:
for i in materials.columns:
    materials[i] = materials[i].astype('string')

In [22]:
materials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rm_id                     1217 non-null   string
 1   product_id                1217 non-null   string
 2   product_version           1217 non-null   string
 3   raw_material_alloy        1217 non-null   string
 4   raw_material_format_type  1217 non-null   string
 5   stock_location            1217 non-null   string
dtypes: string(6)
memory usage: 57.2 KB

Missing values:

In [ ]:
materials.isna().sum()

rm_id                       1
product_id                  1
product_version             1
raw_material_alloy          1
raw_material_format_type    1
stock_location              1
dtype: int64

In [26]:
materials.head()

,rm_id,product_id,product_version,raw_material_alloy,raw_material_format_type,stock_location
0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,342.0,91900170.0,1.0,SB06 Traders,24.0,DELETED_28.02:2011_SB06 anodiz
2,343.0,91900143.0,2.0,SB02 606035,24.0,SB 02
3,345.0,91900143.0,2.0,SA10 606035,3.0,DELETED_28.02:2011_ST01
4,346.0,91900146.0,2.0,SA15 600540,3.0,DELETED_28.02:2011_SA 300370

In [28]:
materials.describe(include='string').T

                         count unique            top freq
rm_id                     1217    203         2130.0   45
product_id                1217     54     91901460.0  212
product_version           1217     65            1.0   88
raw_material_alloy        1217    180  CPS Prof 6060   55
raw_material_format_type  1217     25           36.0  338
stock_location            1217    153          SB 16   43