In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
materials = pd.read_csv('/home/celinaha/ml_group21/data/extended/materials.csv')

In [4]:
materials.head()

,rm_id,product_id,product_version,raw_material_alloy,raw_material_format_type,stock_location
0,NaN,NaN,NaN,NaN,NaN,NaN
1,342.0,91900170.0,1.0,SB06 Traders,24.0,DELETED_28.02:2011_SB06 anodiz
2,343.0,91900143.0,2.0,SB02 606035,24.0,SB 02
3,345.0,91900143.0,2.0,SA10 606035,3.0,DELETED_28.02:2011_ST01
4,346.0,91900146.0,2.0,SA15 600540,3.0,DELETED_28.02:2011_SA 300370

In [5]:
materials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rm_id                     1217 non-null   float64
 1   product_id                1217 non-null   float64
 2   product_version           1217 non-null   float64
 3   raw_material_alloy        1217 non-null   object
 4   raw_material_format_type  1217 non-null   float64
 5   stock_location            1217 non-null   object
dtypes: float64(4), object(2)
memory usage: 57.2+ KB